<ion-view view-title="Calculator">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Number of laps?</span>
        <input type="number" pattern="\d*">
      </label>
      <label class="item item-input">
        <span class="input-label">Goal time?</span>
        <input type="number" pattern="\d*" placeholder="MM">
      </label>
      <label class="item item-input">
        <span class="input-label">Goal time?</span>
        <input type="number" pattern="\d*" placeholder="SS">
      </label>
    </div>
  </ion-content>
</ion-view>
