<ion-view view-title="Calculator">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Number of laps?</span>
        <input type="number" pattern="\d*" placeholder="12" ng-model="laps">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Goal time?</span>
        <div class="row center">
          <div class="col">
            <input type="number" pattern="\d*" placeholder="Mins" ng-model="time.minutes">
          </div>
          <div class="col">:</div>
          <div class="col">
            <input type="number" pattern="\d*" placeholder="Secs" ng-model="time.seconds">
          </div>
        </div>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Your goal lap time should be:</span>
        <input ng-model="goallap">
      </label>
    </div>
  </ion-content>
</ion-view>
